#menuBar {
  text-align: center;
  list-style: none;
  border: 5px dotted white;
  /* display: inline-block; */
  display: center;
  word-spacing: 100px;
  margin: auto;
  color: fill;
  font-family: "times";
  font-size: 32px;
}
/* #homeBanner{
  background-image: url(https://images.pexels.com/photos/771881/pexels-photo-771881.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  background-size: cover;
  background-position: center 30%;
  position: absolute;
  top: 50px;
  height: 400px;
  width: 100vw;
} */
body.city {
  background-image: url(https://cdn.pixabay.com/photo/2016/01/19/17/59/new-york-city-1150012_1280.jpg);
  background-size: cover;
}
#banner {
  font-size: 75px;
  color: white;
  text-align: center;
  margin: auto;
}
#menuBar a {
  color: white;
  text-decoration: underline;
}
.main {
  background-color: slategray;
}

/* div.cultures img {
  filter: blur(1px);
  height: 100%;
  background-size: cover;
  position: absolute;
  z-index: -1;
  opacity: .7;
} */

#menuBar a:hover {
  color: lightblue;
}

/* #banner:hover {
  color: green;
} */

#option {
  text-align: center;
}
/* #reason {
  text-align: center;
  font-size: 40;
  font-style: italic;
  font-weight: bold;
  margin: 0px;
} */

#mexican,
#dominican,
#italian,
#chinese {
  display: inline-block;
  display: inline-table;
}

table{
  width: 48.5vw;
}
tr {
  height: 60px;
}
 th {
  background-color: lightblue !important;
}
table, th, td, tr {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 5px;
  text-align: center;
font-weight: bold;
}

#lupe {
  background-color: lavender;
}
#us {
  background-color: white;
}
#arielle {
  background-color:lightblue;
  text-align: center;
  font-size: 20px;
  background-color:DARKSALMON;
}

iframe{
  margin:0 auto;
  display: block;
  float: left;
}

.location {
  display: inline-block;
}

#marcela {
  background-color: white;
  margin: 8px;
}

#marcela #banner {
  font-size: 75px;
  font-family: "Times", serif;
  font-weight: 700;
  color: white;
  text-align: center;
  margin: auto;
  height: 86px;
  line-height: 86px;
}
#marcela #menuBar {
  font-family: "Times", serif;
  text-align: center;
  list-style: none;
  display: center;
  margin: auto;
  color: fill;
  font-weight: bold;
  font-size: 32px;
}
.pics {
  height: 300px;
  width: 400px;
  /* padding: 10px;
  padding-left: 70px;
  padding-top: 30px; */
  display: block;
  margin: auto;
  padding-top: 10px;
  padding-bottom: 20px;
  /* border-width: 2px;
  border-color: white;
  border-style: solid;
  background-color: white; */
}
.captions {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}
/* Ends Here */

#cultures p {
  font-size: 25px;
}

#intro p{
  font-size: 25px;
  font-style: italic;
  text-align: center;
  color: black;
  margin: 3vw;
}

#intro {
  width: 60em;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.7);
  border: 3px double black;
  margin-top: 2em;
}

#banner2 {
  color: darkseagreen;
}

#calendar{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#main {
  text-align: center;
}

#calendar {
  display: block;
  margin-left: auto;
  margin-right: auto;
}


#centered img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#centered p{
  text-align: center;
}

#centered h2{
  text-align: center;
}

#arianna {
  background-color: lemonchiffon;
}

.ariPics {
  height: 450px;
  width: 530px;
}

.mission {
  height: 450px;
  width: 300px;
  margin: 23.5px;
  border: 1px solid black;
  border-collapse: separate;
}

#us figure {
  text-align: center;
  font-size: 20px;
  display: inline-block;
}

.pics{
  height:450;
  width: 530;
}
#subBanner{
  text-align: center;
}

#arielle p {
  font-size: 20px;
  font-weight:bold;
}
